{
  "trailingComma": "none",
  "printWidth": 100,
  "tabWidth": 2,
  "tabs": false,
  "singleQuote": true,
  "semicolon": true,
  "quoteProps": "preserve",
  "bracketSpacing": true,
  "overrides": [
    {
      "files": "{apps,libs}/**/*.html",
      "options": {
      }
    }
  ]
}
