<!--Render PDF hide this section -->
<section id="nv-game-level">
  <img src="assets/images/bg-2/stars.png" id="bg_1" alt="" #bg_1 />
  <img src="assets/images/bg-2/bg-3.svg" id="bg_3" alt="" #bg_3 />
  <img src="assets/images/bg-2/bg-4.svg" id="bg_4" alt="" #bg_4 />
  <img src="assets/images/bg-2/bg-7.svg" id="bg_7" alt="" #bg_7 />
  <img src="assets/images/bg-2/bg-8.svg" id="bg_8" alt="" #bg_8 />
  <img src="assets/images/bg-2/bg-9.svg" id="bg_9" alt="" #bg_9 />

  <h1 id="text" #text>HOANG HOA</h1>

  <img src="assets/images/bg-2/bg-10.svg" id="bg_10" alt="" #bg_10 />
  <img src="assets/images/bg-2/bg-11.svg" id="bg_11" alt="" #bg_11 />
  <img src="assets/images/bg-2/bg-12.svg" id="bg_12" alt="" #bg_12 />

  <a id="btn" #btn (click)="scrollToCV(target)">View CV</a>
</section>

<div class="sec" id="sec" #target>
  <!---------MAIN PROFILE-------->
  <section id="nv-profile">
    <div class="pdf-page-1 profile">
      <div class="profile__main">
        <!--BLOCK LEFT-->
        <div class="profile__main__left">
          <!--Image-->
          <div class="my__image">
            <h3>HOANG VAN HOA</h3>
            <span>Front-End Developer</span>
            <div id="my-picture"></div>
          </div>

          <!--Contact-->
          <div class="my__contact">
            <h5 class="title__common">
              Contact
              <a
                href="../../../assets/images/hoang-hoa-dev.pdf"
                target="_blank"
                class="btn-download"
                >Download CV</a
              >
            </h5>

            <ul class="list__icon__common">
              <li>
                <div class="box">
                  <img src="assets/images/icon/icon-mail.svg" class="icon" alt="mail" />
                </div>
                <a href="mailto:hoangvanhoa1701@gmail.com">hoangvanhoa1701&#64;gmail.com</a>
              </li>
              <li>
                <div class="box">
                  <img src="assets/images/icon/icon-tv.svg" class="icon" alt="tv" />
                </div>
                <a href="https://hoanghoadev.web.app/" target="blank"
                  >https://hoanghoadev.web.app/</a
                >
              </li>
              <li>
                <div class="box">
                  <img src="assets/images/icon/icon-phone.svg" class="icon" alt="phone" />
                </div>
                <a href="tel:0328369788">0328 369 788</a>
              </li>
            </ul>

            <p class="desc__common">
              I am a dedicated Software Engineer with a passion for frontend programming, boasting
              nearly <b>5 years of experience</b>. My expertise primarily lies in
              <b>Angular (4+ years)</b>, complemented by hands-on experience with React and Vue for
              approximately six months each. I specialize in enhancing <b>UX/UI</b> design and
              optimizing systems for superior performance.
            </p>

            <p class="desc__common">
              My career choice in Front-End development stems from a profound appreciation for the
              creative facets of UI/UX design. I am deeply committed to continuous professional
              growth and eagerly seek opportunities to learn from seasoned professionals in the
              field.
            </p>

            <p class="desc__common">
              I am recognized by colleagues for my friendly demeanor and outstanding teamwork
              skills. I thrive in fostering connections within teams and actively contribute to
              group endeavors. I welcome constructive feedback as a means to continually improve and
              expand my skill set.
            </p>

            <ul class="list__social__common">
              <li>
                <img src="assets/images/icon/icon-linkedin.svg" class="icon" alt="linkedin" />
                <a href="https://www.linkedin.com/in/hoangvanhoa/" target="blank">
                  linkedin.com/in/hoangvanhoa
                </a>
              </li>
              <li>
                <img src="assets/images/icon/icon-skype.svg" class="icon" alt="skype" />
                <a href="skype:live:hoangvanhoa1701" target="blank">live:hoangvanhoa1701</a>
              </li>

              <!--              <li>-->
              <!--                <img src="assets/images/icon/icon-instagram.svg" class="icon" alt="instagram" />-->
              <!--                <a href="https://www.instagram.com/some.stories.store/" target="blank">-->
              <!--                  instagram.com/some.stories.store-->
              <!--                </a>-->
              <!--              </li>-->

              <!--              <li>-->
              <!--                <img src="assets/images/icon/icon-facebook.svg" class="icon" alt="facebook" />-->
              <!--                <a href="https://www.facebook.com/hoangvanhoa1701/" target="blank">-->
              <!--                  facebook.com/hoangvanhoa1701-->
              <!--                </a>-->
              <!--              </li>-->
            </ul>
          </div>

          <!--Information more-->
          <div class="my__information-more">
            <h5 class="title__common">Information more</h5>

            <div class="desc">
              <p class="desc__common">
                - I am known for my friendly and approachable demeanor.
                <br />
                - Possessing a plethora of strong soft skills and adeptness in teamwork.
                <br />
                - Recognized for my ability to foster unity within a team and deliver high-quality
                results collaboratively.
                <br />
                - Outside of work, I enjoy traveling, reading books, indulging in photography, and
                creating content on YouTube."
              </p>
            </div>
          </div>
        </div>

        <!--BLOCK RIGHT-->
        <div class="profile__main__right">
          <!--Capabilities / Skill-->
          <div class="my__capabilities">
            <h5 class="title__common">Capabilities / Skill</h5>

            <div class="soft__skill">
              <ul class="soft__types">
                <li>
                  Frontend Technologies:
                  <b>HTML5/CSS3, SASS/SCSS (BEM), Tailwind, Ant Design</b>, PrimeNG, Bootstrap4,
                  etc.
                </li>
                <li>
                  Frameworks/Libraries: <b>Angular(RxJS)</b>, Vue(Nuxt, Vuex), React(Redux), jQuery.
                </li>
                <li>UI/UX: Figma, Adobe XD, PS, AI, PR.</li>
                <li>Programming Languages: JavaScript (TypeScript), Python, PHP, Ruby, C#.</li>
                <li>API Technologies: GraphQL, REST APIs</li>
                <li>Version Control: Git (GitLab, GitHub)</li>
                <li>Cross-platform: NativeScript, React Native, Ionic.</li>
                <li>Build Tools: Gulp, Webpack.</li>
                <li>
                  Other Skills: Basic SEO, Teamwork, Team Management, Problem-solving, Research,
                  Enthusiasm, Creativity, Connector.
                </li>
              </ul>

              <!--              <div class="soft__skill__col">-->
              <!--                <ul>-->
              <!--                  <li><b>HTML5/CSS3</b></li>-->
              <!--                  <li><b>SASS/SCSS (BEM)</b></li>-->
              <!--                  <li><b>Bootstrap</b></li>-->
              <!--                  <li><b>Tailwind CSS</b></li>-->
              <!--                  <li><b>Ant Design</b></li>-->
              <!--                  <li><b>UI/UX</b></li>-->
              <!--                  <li>Figma/XD/PS/PR/AI</li>-->
              <!--                  <li>Gulp/Webpack</li>-->
              <!--                  <li>Basic SEO</li>-->
              <!--                </ul>-->
              <!--                <ul>-->
              <!--                  <li>Javascript (TS)</li>-->
              <!--                  <li><b>Angular (RxJS)</b></li>-->
              <!--                  <li>Vue (Nuxt,Vuex)</li>-->
              <!--                  <li>React (Redux)</li>-->
              <!--                  <li>JQuery</li>-->
              <!--                  <li>GraphQL, REST APIs</li>-->
              <!--                  <li>Git (Gitlab, Github)</li>-->
              <!--                  <li>Nativescript</li>-->
              <!--                  <li>Python, PHP, C#, Ruby</li>-->
              <!--                </ul>-->
              <!--                <ul>-->
              <!--                  <li>Teamwork</li>-->
              <!--                  <li>Team management</li>-->
              <!--                  <li>Work hard</li>-->
              <!--                  <li>Enthusiasm</li>-->
              <!--                  <li>Creative</li>-->
              <!--                  <li>Research</li>-->
              <!--                  <li>Problem-solving</li>-->
              <!--                  <li>Connector</li>-->
              <!--                </ul>-->
              <!--              </div>-->
            </div>
          </div>
          <!--Experience-->
          <div class="my__exp">
            <h5 class="title__common">Experience</h5>

            <ul class="timeline">
              <!-- Wata Corp -->
              <li>
                <div class="period">
                  <span>
                    11/2021 <br />
                    - <br />
                    Now
                  </span>
                </div>
                <div class="content">
                  <h5>SOFTWARE ENGINEER</h5>
                  <span>
                    <a href="https://watacorp.com/" target="blank"> Wata Corp </a>
                  </span>

                  <p>
                    - Building and developing projects:
                    <b>
                      <a href="https://www.thementormethod.com/" target="blank">THE MENTOR METHOD</a
                      >, <a href="https://www.betterleave.com/" target="blank">BETTERLEAVE</a>,
                      <a href="https://www.poolzoom.com/" target="blank">POOLZOOM</a>, and others.
                    </b>
                    <br />
                    - Developed Web applications, and CMS systems through programming languages,
                    technology, and library such as
                    <b
                      >Angular, Vue, Nuxt, React, Tailwindcss, Ant Design, Primeng, GraphQL, Google
                      Speech-to-Text, Nestjs</b
                    >, etc.
                    <br />
                    - Led sprint planning and conducted team reviews.
                    <br />
                    - Formulated effective problem-solving strategies for the team.
                    <br />
                  </p>

                  <h6></h6>
                  <p></p>
                </div>
              </li>

              <!-- Gumi vietnam -->
              <li>
                <div class="period">
                  <span>
                    12/2019 <br />
                    - <br />
                    11/2021
                  </span>
                </div>
                <div class="content">
                  <h5>FRONT-END DEVELOPER</h5>
                  <span>
                    <a href="https://gumiviet.com/" target="blank"> Gumi Vietnam Company </a>
                  </span>
                  <p>
                    - Acquired numerous skills through collaboration with experienced colleagues.
                    <br />

                    - Contributed to several major projects for Japanese clients, including
                    <b><a href="https://zooorewards.com/">Zoopay</a></b> , <b>Gumi JP</b>,
                    <b>Nikkan sports</b>, and others.
                    <br />

                    - Developed landing pages, web applications, CMS systems, and native apps using
                    programming languages such as
                    <b>JavaScript, Angular, Ant Design, Firebase, NativeScript, jQuery, React</b>,
                    etc.
                    <br />

                    - Proficiently estimated project schedules to ensure timely completion.
                    <br />

                    - Facilitated effective communication between the team and IT Comtor to deliver
                    optimal solutions to clients.
                    <br />

                    - Provided mentoring and training to interns.
                  </p>
                </div>
              </li>

              <!-- Yoong Solution -->
              <li>
                <div class="period">
                  <span>
                    4/2019 <br />
                    - <br />
                    11/2021
                  </span>
                </div>
                <div class="content">
                  <h5>FRONT-END DEVELOPER</h5>
                  <span>
                    <a href="https://yoong.vn/en/" target="blank"> Yoong Solution Company </a>
                  </span>
                  <p>
                    - Contributed to projects including the
                    <b>
                      <a href="https://www.mitsubishi-electric.vn/" target="blank">
                        Mitsubishi Electric Website Viet Nam
                      </a>
                    </b>
                    and
                    <b>
                      <a href="https://pgworks.vn/" target="blank"> PG Works Website Viet Nam </a>.
                    </b>
                    <br />

                    - Proficient in <b>CSS3(SCSS), Bootstrap 4, Element UI</b>, and related
                    technologies.
                    <br />

                    - Developed all user interface elements for e-commerce platforms, landing pages,
                    and product advertisements.
                    <br />

                    - Took part in project and building front-end with
                    <b>Vue JS (Nuxt JS)</b>.
                  </p>
                </div>
              </li>

              <!-- Freelancer -->
              <li>
                <div class="period">
                  <span> 2020 </span>
                </div>
                <div class="content">
                  <h5>FRONT-END DEVELOPER</h5>
                  <span>Freelancer</span>
                  <p>
                    - Skills about Front-End such as
                    <b>HTML5, CSS3, JS</b> etc.<br />
                    <b>
                      <a href="https://rapconcept.com/vn/" target="blank">
                        Project Rapconcept Website
                      </a>
                    </b>
                  </p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="pdf-page-2">
      <div class="profile" style="">
        <div class="profile__main">
          <!--BLOCK LEFT-->
          <div class="profile__main__left">
            <!--Activity-->
            <div class="my__activity">
              <h5 class="title__common">Activity</h5>

              <div class="desc">
                <h6>Blood Donation, Green Summer/ Spring Volunteer Campaign.</h6>
                <p class="desc__common">
                  I actively engaged in a Green Summer Volunteer Campaign during my time at
                  university, an experience that enriched me with valuable skills and enhanced my
                  ability to work effectively in a team.
                </p>

                <h6>Created Content Youtube, Vlog And Short Film.</h6>
                <p class="desc__common">
                  I have experience as a content creator on YouTube, where I have produced vlogs and
                  short films. Additionally, I contributed to team projects with Moko Production.
                </p>
              </div>
            </div>
          </div>

          <!--BLOCK RIGHT-->
          <div class="profile__main__right">
            <!--Education-->
            <div class="my__edu">
              <h5 class="title__common">Education</h5>

              <ul class="timeline">
                <!-- Course -->
                <li>
                  <div class="period">
                    <span
                      >02/2019 <br />
                      - <br />
                      05/2019</span
                    >
                  </div>
                  <div class="content">
                    <h5>Python Programming Course</h5>
                    <span>University of Science Ho Chi Minh</span>
                    <p>
                      - Enhanced technical proficiency. <br />
                      - Developed problem-solving abilities. <br />
                      - Strengthened analytical thinking skills.
                    </p>
                  </div>
                </li>

                <!-- College / University -->
                <li>
                  <div class="period">
                    <span
                      >2017 <br />
                      - <br />
                      2019</span
                    >
                  </div>
                  <div class="content">
                    <h5>Information Technology High Quality</h5>
                    <span>International College Ho Chi Minh City - University of Science</span>
                    <p>
                      - Acquired foundational programming skills.
                      <br />
                      - Gained valuable soft skills through interaction with experienced
                      individuals.
                      <br />
                      - Maintained a personal commitment to continuous self-improvement.
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>div</div>
  </section>
</div>
